<div class="row">
    <div class="col-6">
        <div class="row-11">
            <div id="data">
                <label for="request-dropdown">Select a request: </label>
                <select id="request-dropdown">
                    {{#each keys}}
                        {{#if (isEqual this "payment")}}
                            <option value="{{this}}" selected>{{toUpperCase this}} Request</option>
                        {{else}}
                            <option value="{{this}}">{{toUpperCase this}} Request</option>
                        {{/if}}
                    {{/each}}
                </select>
                <button id="send-button" onclick="sendRequestButtonOnClick()">Send</button>
            </div>

            <div class="request">Request:
                <pre>
                    <code id="json-requests" class="maximize-height language-json"></code>
                </pre> 
            </div>
        </div>
        <div class="row-11">
            <div class="response">Response:
                <pre>
                    <code id="json-responses" class="maximize-height language-json"></code>
                </pre>
            </div>
        </div>
    </div>
    
    
    <div class="col-4 terminal">
        <div class="row-6 terminal-top">
            <div class="screen">
                <span id="screen">Send a request ...</span>
                <span id="screen-pin"></span>
            </div>
        </div>
        <div class="row-6 terminal-bottom">
            <div class="col digits">
                <button id="1-button" class="digit-button">1</button>
                <button id="2-button" class="digit-button">2</button>
                <button id="3-button" class="digit-button">3</button>
                <button id="cancel-button" class="action-button red">X</button>
                
                <button id="4-button" class="digit-button">4</button>
                <button id="5-button" class="digit-button">5</button>
                <button id="6-button" class="digit-button">6</button>
                <button id="clear-button" class="action-button yellow">&lt;</button>
                
                <button id="7-button" class="digit-button">7</button>
                <button id="8-button" class="digit-button">8</button>
                <button id="9-button" class="digit-button">9</button>
                <button id="confirm-button" class="action-button green">✓</button>
                
                <button id="star-button" class="digit-button">*</button>
                <button id="0-button" class="digit-button">0</button>
                <button id="hashtag-button" class="digit-button">#</button>
            </div>
        </div>
    </div>
    
    <div class="col-2">
        <div class="row">
            <div class="credit-card">
                <div class="card-number">1234 5678 9012 3456</div>
                <div class="card-description">Tap Card</div>
                <div class="card-info">
                    <div class="card-holder">J. Smith</div>
                    <div class="card-cvc">737</div>
                    <div class="card-expiry">Expiry: 02/28</div>
                </div>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="credit-card">
                <div class="card-number">1234 5678 9012 3456</div>
                <div class="card-description">Insert Card</div>
                <div class="card-info">
                    <div class="card-holder">J. Smith</div>
                    <div class="card-cvc">747</div>
                    <div class="card-expiry">Expiry: 02/28</div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>


<script src="/js/main.js"></script>